{% extends 'base.html' %}

{% block content %}

<h1>Lançamentos Financeiros</h1>

<div class="card">

<table border="1" width="100%">
<tr>
    <th>Data</th>
    <th>Tipo</th>
    <th>Categoria</th>
    <th>Descrição</th>
    <th>Valor</th>
</tr>

{% for lancamento in lancamentos %}
<tr>
<td>{{ lancamento.data }}</td>
<td>{{ lancamento.tipo }}</td>
<td>{{ lancamento.categoria }}</td>
<td>{{ lancamento.descricao }}</td>
<td>R$ {{ lancamento.valor }}</td>
</tr>
{% endfor %}

</table>

</div>

{% endblock %}